<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Home</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            @Html.ActionLink("NSIX", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    @if (Request.IsAuthenticated)
    {
                    <li class="nav-item active">@Html.ActionLink("SARs", "Index", "SAR", null, new { @class = "nav-link" })</li>
                        <li class="nav-item active">@Html.ActionLink("Sectors", "Index", "TargetSectorCodeSimpleTypes", null, new { @class = "nav-link" })</li>
                <li class="nav-item active">@Html.ActionLink("Activities", "Index", "SuspiciousActivityCodeSimpleTypes", null, new { @class = "nav-link" })</li>
                <li class="nav-item active">@Html.ActionLink("Classes", "Index", "TipClassCodeSimpleTypes", null, new { @class = "nav-link" })</li>
                <li class="nav-item active">@Html.ActionLink("Domains", "Index", "TipDomainCodeSimpleTypes", null, new { @class = "nav-link" })</li>
                
                <li class="nav-item active">@Html.ActionLink("Persons", "Index", "People", null, new { @class = "nav-link" })</li>
                <li class="nav-item active">@Html.ActionLink("Vehicles", "Index", "Vehicles", null, new { @class = "nav-link" })</li>
}
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
    </header>
    

    <main role="main">
        <div class="container">
            <p>
                <br /><br />
                @RenderBody()
            </p>
        </div>
    </main>
        <hr />


        <footer>
            <p class="text-center" >&copy; @DateTime.Now.Year - NSIX</p>
        </footer>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
