@model NSIX.Models.TipClassCodeSimpleType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipClassCodeSimpleType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacetValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacetValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TipClassCodeSimpleTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
